        .alt{
            color:#000000;
            background-color:#EAF2D3;
        }
        .table-hover{
            text-align:left; 
            background-color:#66CC66;
            color:#000000;
        }
        .week{
            

        }
        
        
        #myTable
        {
            width:100%;
        }
        #myTable td, #myTable th 
        {
            border:3px solid #98bf21;
            padding:3px 7px 2px 7px;
        }
        #myTable th 
        {
            text-align:left;
            background-color:#A7C942;
            color:#ffffff;
        }
        .ui-selecting { 
            background: #FECA40; 
        }
        /*.ui-selected{
            color:#ff0000;
        }*/

        

        #myTable td:hover
        {
            cursor:pointer;
            background-color:yellow;
            color:black;
        }

        #eventResult tr:hover
        {
            text-align:left;
            cursor:pointer;
            background-color:yellow;
            color:black;
        }

        #event {
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        /* When the input field gets focus, change its width to 100% */
        #event:focus {
            width: 200%;
        }
body{
    background-color: #FFFBE8;

    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.button {
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    -moz-border-radius:21px;
    -webkit-border-radius:21px;
    border-radius:21px;
    border:2px solid #c4c4c4;
    padding:10px 16px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #fffd7f 5%, #bd9f46 100% );
    background:-ms-linear-gradient( top, #fffd7f 5%, #bd9f46 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffd7f', endColorstr='#bd9f46');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fffd7f), color-stop(100%, #bd9f46) );
    background-color:#fffd7f;
    color:#ffffff;
    display:inline-block;
    text-shadow:2px 0px 0px #a3a3a3;
    -webkit-box-shadow: 2px 1px 0px 0px #c2c2c2;
    -moz-box-shadow: 2px 1px 0px 0px #c2c2c2;
    box-shadow: 2px 1px 0px 0px #c2c2c2;
}.button:hover {
    background:-moz-linear-gradient( center top, #bd9f46 5%, #fffd7f 100% );
    background:-ms-linear-gradient( top, #bd9f46 5%, #fffd7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd9f46', endColorstr='#fffd7f');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #bd9f46), color-stop(100%, #fffd7f) );
    background-color:#bd9f46;
}.button:active {
    position:relative;
    top:1px;
}


.send-button{
  height: 2.5em;
  padding: 0.2em 1em 0.2em 2.25em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 1em 4em;
  border-radius: 2em;
  border: 0.15em solid #F9C23C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.send-button:hover {
    color: #fff;
    background-color: #EAA502;
    border-color: #EAA502;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.send-button:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.reset-button{
  height: 2.5em;
  padding: 0.2em 1em 0.2em 1.25em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background-color: transparent;
  border-radius: 2em;
  border: 0.15em solid #F9C23C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.reset-button:hover {
    color: #fff;
    background-color: #FF7B7B;
    border-color: #EAA502;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.reset-button:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* This css button was generated by css-button-generator.com */