        .alt{
            color:#000000;
            background-color:#EAF2D3;
        }
        .table-hover{
            font-size:0.7em;
            text-align:left; 
            background-color:#66CC66;
            color:#000000;
        }
        
        #myTable
        {
            font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            width:100%;
        }
        #myTable td, #myTable th 
        {
            font-size:0.7em;
            border:3px solid #98bf21;
            padding:3px 7px 2px 7px;
        }
        #myTable th 
        {
            font-size:0.7em;
            text-align:left;
            background-color:#A7C942;
            color:#ffffff;
        }

        #myTable td:hover
        {
            font-size:0.7em;
            text-align:left;
            cursor:pointer;
            background-color:yellow;
            color:black;
        }

        #eventResult tr:hover
        {
            text-align:left;
            cursor:pointer;
            background-color:yellow;
            color:black;
        }

        #event {
            width: 150px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        /* When the input field gets focus, change its width to 100% */
        #event:focus {
            width: 400px;
        }